services:
  backend:
    image: ghcr.io/leoaigner7/customer-dashboard-api:${APP_VERSION}
    env_file: .env
    ports:
      - "9000:9000"
    restart: unless-stopped

  dashboard:
    image: ghcr.io/leoaigner7/customer-dashboard-v2:${APP_VERSION}
    env_file: .env
    ports:
      - "${APP_PORT:-8080}:3000"
    restart: unless-stopped
    depends_on:
      - backend
