version: "3.9"

services:
  dashboard:
    image: ghcr.io/leoaigner7/customer-dashboard-v2:${APP_VERSION}
    container_name: customer-dashboard
    env_file: .env
    ports:
      - "${APP_PORT:-8080}:3000"
    restart: unless-stopped
    volumes:
      - ../VERSION.txt:/app/backend/VERSION.txt
      - ../data:/app/backend/data
