name: Build & Release

on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Set version from tag
      id: get_version
      run: echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build image
      run: |
        docker build -t ghcr.io/${{ github.repository_owner }}/customer-dashboard:${VERSION} .

    - name: Push image
      run: |
        docker push ghcr.io/${{ github.repository_owner }}/customer-dashboard:${VERSION}

    - name: Prepare customer package
      run: |
        mkdir package
         cp deploy/docker-compose.yml package/
         cp deploy/.env.example package/.env
         echo "APP_VERSION=${VERSION}" >> package/.env
         
         # *** DIE WICHTIGE ZEILE ***
         cp -r app package/app
         
         cp deploy/update.* package/
         echo ${VERSION} > package/VERSION.txt
         cd package
         zip -r ../customer-dashboard-${VERSION}.zip .
         

    - name: Create GitHub Release
      uses: softprops/action-gh-release@v1
      with:
        tag_name: ${{ env.VERSION }}
        files: customer-dashboard-${{ env.VERSION }}.zip
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
